<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Appian UI Automation POC Suite">

    <test name="Required Field Validation Tests">
        <groups>
            <run>
                <include name="validation"/>
            </run>
        </groups>

        <classes>
            <class name="tests.RequiredFieldValidationTest"/>
        </classes>
    </test>

</suite>