<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Appian UI Automation Full Stable Suite">

    <test name="Full Stable Tests">
        <classes>
            <class name="tests.CreateLeaveRequestTest"/>
            <class name="tests.RequiredFieldValidationTest"/>
            <class name="tests.InvalidDateRangeValidationTest"/>
            <class name="tests.ManagerDashboardSearchTest"/>
            <class name="tests.EmployeeDashboardSearchTest"/>
        </classes>
    </test>

</suite>